/* pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

code {
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

pre code {
	white-space: pre-wrap;
	word-break: break-word;
} */
